/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
font-family : 'Pacifico', cursive;
 background-color: white; 
  font-size : 15px;
  text-align : center;
  padding-top: 1em;
  padding-bottom : 1em;
  text-shadow : 2px 2px white;
}

/* STYLE TEXT */

h1 {
  color: #caadff;
  background-color : #7a02f0;
}

ul{
  list-style-type : none;
  background-color : pink;
  overflow : hidden;
  padding : 1em;
}

/* STYLE IMAGES */

/* STYLE NAV BAR */

/* STYLE BUTTONS */

/* ADD MORE! */
